@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

section[epub|type~="halftitlepage"] span[epub|type~="subtitle"]{
	display: block;
	font-size: .75em;
	font-weight: normal;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p,
[epub|type~="z3998:song"] p + p,
[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}

[epub|type~="z3998:poem"] header p{
	font-variant: small-caps;
	text-align: center;
	margin-bottom: 1em;
	margin-top: 3em;
}

#chapter-6 table{
	font-variant-numeric: tabular-nums;
	margin: 1em auto;
	text-align: right;
}

#chapter-6 table tr:last-child td{
	border-top: 1px solid;
}

#preamble{
	text-align: center;
}

#preamble ol{
	display: inline-block;
	vertical-align: top;
	text-align: left;
	max-width: 50%;
}

figure{
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figure.full-page{
	margin: 0;
	max-height: 100%;
	page-break-before: always;
	page-break-after: always;
	page-break-inside: avoid;
	text-align: center;
}

figure.three-quarter-page img{
	max-width: 75%;
}

figure.half-page img{
	max-width: 50%;
}

figure + p{
	text-indent: 0;
}

figcaption{
	font-size: .75em;
	font-style: italic;
}
