@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

section[epub|type~="halftitlepage"] span[epub|type~="subtitle"]{
	display: block;
	font-size: .75em;
	font-weight: normal;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p,
[epub|type~="z3998:song"] p + p,
[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}

p span.i1.right{
	padding-left: 0;
	padding-right: 1em;
}

p span.i2.right{
	padding-left: 0;
	padding-right: 2em;
}

[epub|type~="z3998:verse"] header p,
[epub|type~="z3998:poem"] header p{
	font-variant: small-caps;
	text-align: center;
	margin: 1em 0;
}

table{
	font-variant-numeric: tabular-nums;
	margin: 1em auto;
	text-align: right;
}

table tr + tr > td{
	border-bottom: 1px solid;
}

b{
	font-weight: normal;
	font-variant: small-caps;
}

.right{
	text-align: right;
}
